* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
}

/* NAVBAR */

.navbar {
    flex: 1;
    padding: 0 10%;
    color: #f9faf8;
    background-color: #1f2937;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 18px;
    align-items: center;
    padding: 8px;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
}

.navbar h4 {
    font-size: 24px;
}

.navbar .link-1 {
    margin-left: auto
}

/* HEADER SECTION */

.header-section {
    flex: 4;
    color: #f9faf8;
    background-color: #1f2937;
    width: 100vw;
}

.header-section p {
    color: #e5e7eb;
    font-size: 18px;
}

.header-section h1 {
    font-size: 48px;
    font-weight:900;
    color: #f9faf8;
}

.welcome {
    display: flex;
    margin: 64px 128px;
    justify-content: center;
    align-items: stretch;
    gap: 48px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 750px;
    flex: 1;
}

.welcome-image {
    margin: 48px 0;
    flex: 1;
    background-color: gray;
    text-align: center;
}

.welcome-image img {
    margin: 5em;
}

.welcome-text button {
    border-radius: 8px;
    margin: 8px 8px 8px 0;
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 8px 32px;
    font-weight: bold;
}

/*  INFORMATION SECTION */

.information-section {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-section .title {
    margin: 64px;
    font-size: 24px;
}

.cards {
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-bottom: 128px;
}

.card {
    flex-basis: 128px;
    color: gray;
    font-size: 18px;
}

.cards .img-area {
    border: 2px solid #3882f6;
    border-radius: 8px;
    height: 128px;
}

/* QUOTE SECTION */

.quote-section {
    flex: 1;
    background-color: #e5e7eb;
    padding: 10% 25%;
}

.quote-section .quote {
    font-size: 24px;
    font-style: italic;
    color:#1f2937;
}

.quote-section .author {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/* CALL TO ACTION SECTION */

.call-to-action-section {
    padding: 10% 10%;
    display: flex;
    justify-content: center;
    flex: 1;
}

.call-to-action-section .action-card {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5% 10%;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.call-to-action-section h4 {
    font-size: 18px;
}

.call-to-action-section .action-text {
    flex: 3;
}

.call-to-action-section .action-button {
    flex: 1;
}

.call-to-action-section .action-button button {
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: 2px solid #f9faf8;
}

/* FOOTER */

.footer {
    text-align: center;
    padding: 32px;
    color: #e5e7eb;
}
